<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(students.length > 0){ %>
        <% students.forEach( e => { %>
            <ul>
                <li><%= e.name %></li>
                <li><%= e.age %></li>
                <li><%= e.city %></li>
                <li><%= e.country %></li>
                <li><%= e.gmail %></li>
                <li><%= e.rating %></li>
                <li><%= e.score %></li>
            </ul>
        <% }) %>
    <% }else { %>
        <h1>No Student Found</h1>
    <% } %>
</body>
</html>